openapi: 3.0.0
info:
  title: OpenWeatherMap API
  version: '2.5'
  description: 'Get the current weather, daily forecast for 16 days, and a three-hour-interval forecast for 5 days for your city. Helpful stats, graphics, and this day in history charts are available for your reference. Interactive maps show precipitation, clouds, pressure, wind around your location stations. Data is available in JSON, XML, or HTML format. **Note**: This sample Swagger file covers the `current` endpoint only from the OpenWeatherMap API. <br/><br/> **Note**: All parameters are optional, but you must select at least one parameter. Calling the API by city ID (using the `id` parameter) will provide the most precise location results.'
  contact:
    url: 'https://openweathermap.org/api'
    name: Support
    email: some_email@gmail.com
  termsOfService: 'https://openweathermap.org/terms'
  license:
    name: CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)
    url: 'https://openweathermap.org/price'
servers:
  - url: 'https://api.openweathermap.org/data/2.5'
    description: prod
paths:
  /weather:
    get:
      summary: Your GET endpoint
      tags: []
      operationId: get-weather
      description: 'Access current weather data for any location on Earth including over 200,000 cities! Current weather is frequently updated based on global models and data from more than 40,000 weather stations.'
      parameters:
        - schema:
            type: string
          in: query
          name: zip
          description: ' **Zip code**. Search by zip code. *Example: 95050,us*. Please note that if the country is not specified, the search uses USA as a default.'
          required: true
        - schema:
            type: string
            default: standard
            enum:
              - standard
              - metric
              - imperial
          in: query
          name: units
          description: '**Units**. *Example: imperial*. Possible values: `standard`, `metric`, and `imperial`. When you do not use the `units` parameter, the format is `standard` by default.'
          required: true
        - schema:
            type: string
          in: query
          name: q
          description: '**City name**. *Example: London*. You can call by city name, or by city name and country code. The API responds with a list of results that match a searching word. For the query value, type the city name and optionally the country code divided by a comma; use ISO 3166 country codes.'
        - schema:
            type: string
          in: query
          name: id
          description: '**City ID**. *Example: `2172797`*. You can call by city ID. The API responds with the exact result. The List of city IDs can be downloaded [here](http://bulk.openweathermap.org/sample/). You can include multiple cities in this parameter — just separate them by commas. The limit of locations is 20. *Note: A single ID counts as a one API call. So, if you have city IDs, it’s treated as 3 API calls.*'
        - schema:
            type: string
          in: query
          name: lat
          description: '**Latitude**. *Example: 35*. The latitude coordinate of the location of your interest. Must use with `lon`.'
        - schema:
            type: string
          in: query
          name: lon
          description: '**Longitude**. *Example: 139*. Longitude coordinate of the location of your interest. Must use with `lat `.'
        - schema:
            type: string
          in: query
          name: lang
          description: '**Language**. *Example: en*. You can use lang parameter to get the output in your language. We support the following languages that you can use with the corresponded lang values: Arabic - `ar`, Bulgarian - `bg`, Catalan - `ca`, Czech - `cz`, German - `de`, Greek - `el`, English - `en`, Persian (Farsi) - `fa`, Finnish - `fi`, French - `fr`, Galician - `gl`, Croatian - `hr`, Hungarian - `hu`, Italian - `it`, Japanese - `ja`, Korean - `kr`, Latvian - `la`, Lithuanian - `lt`, Macedonian - `mk`, Dutch - `nl`, Polish - `pl`, Portuguese - `pt`, Romanian - `ro`, Russian - `ru`, Swedish - `se`, Slovak - `sk`, Slovenian - `sl`, Spanish - `es`, Turkish - `tr`, Ukrainian - `ua`, Vietnamese - `vi`, Chinese Simplified - `zh_cn`, Chinese Traditional - `zh_tw`.'
        - schema:
            type: string
            default: json
            enum:
              - json
              - xml
              - html
          in: query
          name: mode
          description: '**Mode*. *Example: html. Determines the format of the response. Possible values are `json`, `xml`, and `html`. If the mode parameter is empty, the format is `json` by default.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  coord:
                    type: object
                    required:
                      - lon
                      - lat
                    properties:
                      lon:
                        type: number
                        description: |-
                          description: City geo location, longitude
                          example: 145.77
                      lat:
                        type: number
                        description: |-
                          description: City geo location, latitude
                          example: -16.92
                  weather:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: |-
                            description: Weather condition id
                            example: ‘803’
                        main:
                          type: string
                          minLength: 1
                          description: |-
                            description: ‘Group of weather parameters (Rain, Snow, Extreme etc.)’
                            example: clouds
                        description:
                          type: string
                          minLength: 1
                          description: |-
                            description: Weather condition within the group
                            example: broken clouds
                        icon:
                          type: string
                          minLength: 1
                          description: |-
                            description: Weather icon id
                            example: 04n
                      required:
                        - id
                        - main
                        - description
                        - icon
                  base:
                    type: string
                    minLength: 1
                    description: |-
                      description: Internal parameter
                      example: cmc stations
                  main:
                    type: object
                    required:
                      - temp
                      - feels_like
                      - temp_min
                      - temp_max
                      - pressure
                      - humidity
                    properties:
                      temp:
                        type: number
                        description: |-
                          description: ‘Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.’
                          example: 293.25
                      feels_like:
                        type: number
                        description: |-
                          description: What the weather feels like despite the actual numbers
                          example: 41.16
                      temp_min:
                        type: number
                        description: |-
                          description: ‘Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.’
                          example: 289.82
                      temp_max:
                        type: number
                        description: |-
                          description: ‘Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.’
                          example: 295.37
                      pressure:
                        type: number
                        description: |-
                          description: ‘Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa’
                          example: 1019
                      humidity:
                        type: number
                        description: |-
                          description: ‘Humidity, %’
                          example: 83
                  visibility:
                    type: number
                    description: |-
                      description: ‘Visibility, meter’
                      example: 16093
                  wind:
                    type: object
                    required:
                      - speed
                      - deg
                    properties:
                      speed:
                        type: number
                        description: |-
                          description: ‘Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour.’
                          example: 5.1
                      deg:
                        type: number
                        description: |-
                          description: ‘Wind direction, degrees (meteorological)’
                          example: 150
                  clouds:
                    type: object
                    required:
                      - all
                    properties:
                      all:
                        type: number
                        description: |-
                          description: ‘Cloudiness, %’
                          example: 75
                  dt:
                    type: number
                    description: |-
                      description: ‘Time of data calculation, unix, UTC’
                      example: 1435658272
                  sys:
                    type: object
                    required:
                      - type
                      - id
                      - country
                      - sunrise
                      - sunset
                    properties:
                      type:
                        type: number
                        description: |-
                          description: Internal parameter
                          example: 1
                      id:
                        type: number
                        description: |-
                          description: Internal parameter
                          example: 8166
                      country:
                        type: string
                        minLength: 1
                        description: |-
                          description: ‘Country code (GB, JP etc.)’
                          example: AU
                      sunrise:
                        type: number
                        description: |-
                          description: ‘Sunrise time, unix, UTC’
                          example: 1435610796
                      sunset:
                        type: number
                        description: |-
                          description: ‘Sunset time, unix, UTC’
                          example: 1435650870
                  timezone:
                    type: number
                    description: |-
                      description: the timezone for the station
                      example: -28800
                  id:
                    type: number
                    description: |-
                      description: City ID
                      example: 2172797
                  name:
                    type: string
                    minLength: 1
                    description: |-
                      description: Name
                      example: Cairns
                  cod:
                    type: number
                    description: |-
                      description: Internal parameter
                      example: 200
                required:
                  - coord
                  - weather
                  - base
                  - main
                  - visibility
                  - wind
                  - clouds
                  - dt
                  - sys
                  - timezone
                  - id
                  - name
                  - cod
components:
  schemas: {}
  securitySchemes:
    app_id:
      name: appid
      type: apiKey
      in: query
